# Node
electron/node_modules/
electron/node_modules
node_modules/

# Build output
dist/
backend-dist/
build-tmp/
*.egg-info/
__pycache__/
*.pyc
*.pyo
*.spec

# Temp
*.log
.DS_Store
Thumbs.db

# Python venv
venv/
.venv/
env/

backend/data/config.json
backend/data/
